/* DEMO STYLES
--------------------------------------------------------------------------------------------*/
.grid p:first-line {
    font-weight: bold
}

.demo div {
  border: 1px solid #fff;
  background-color: #ccc;
      padding-top: .25rem;
      padding-bottom: .25rem;
}

.grid .demo {
    border: 1px solid whitesmoke;
}

.lt {
    color: white;
}

.logo {
    font-size: 90px;
    color: #444;
    font-weight: bold;
    display: inline-block;
}

.bg-lightgray {
  background-color: lightgray;
}
