/*                                      RESET
--------------------------------------------------------------------------------------------
https://alligator.io/css/minimal-css-reset/*/

html {box-sizing: border-box;}
*,
*:before,
*:after {box-sizing: inherit;}
/* Clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
 * You need them after using floating elements */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
    display: table;
    content: " ";
}

.clearfix:after,
.container:after {clear: both;}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}
/*                                         TYPOGRAPHY
Scale 1.333
---------------------------------------------------------------------------------*/
/* better use body typo separated here (instead of with other HTML5 elements), avoid messing with external js generated styles */

body {
    color: #424242;
    font-family: "Segoe UI","Helvetica Neue", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

/* use only one h1, but you can use more h2-h5 on one page (SEO in mind) */
/* use .h1-.h5 classes  if only the font size matters (Accessibility in mind) */
h1, h2, h3, h4, h5 {
    line-height: 1.25;
    font-weight: 500;
    color: #212121;
}
h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h1, .h1 {font-size: 3rem;}

h2, .h2 {font-size: 2.441rem;}

h3, .h3 {font-size: 1.953rem;}

h4, .h4 {font-size: 1.563rem;}

h5, .h5 {font-size: 1.25rem;}

@media screen and (max-width: 640px) {
  h1, .h1 {font-size: 2.441rem;}

  h2, .h2 {font-size: 1.953rem;}

  h3, .h3 {font-size: 1.563rem;}

  h4, .h4 {font-size: 1.25rem;}

  h5, .h5 {font-size: 1rem;}
}


small, .small {font-size: 0.875rem;}

h1 small, h2 small, h3 small {
    display: block;
}

.bolder {font-weight: bolder;}

.lighter {font-weight: lighter;}

.underline::after {
  content: "";
  display: block;
  border-top: 6px solid;
  width: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote {
    padding: 0 15px;
    margin: 10px 40px;
    border-left: 6px solid;
}

blockquote small {
    display: block;
    line-height: 1.4;
    font-size: 14px;
    font-style: italic;
}

blockquote small:before {content: '\2014 \00A0';}

img {
    width: 100%;
    vertical-align: middle;
    height: auto;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
  padding-left: 15px; /*balance col paddings*/
}

.list li {
  margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #8BC34A;
}

/*                                         TABLES
---------------------------------------------------------------------------------*/
/* tables still need cellspacing="0" in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

/*                                         BUTTONS
--------------------------------------------------------------------------------------------*/
.btn {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    padding: .5rem 1rem;
    border: 1px transparent;
    border-radius: 2px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    background-color: #8BC34A;
}

.btn-lg {padding: .75rem 1.5rem;}

.btn-sm {padding: .25rem .5rem; font-size: .875rem;}

.btn:hover {
    opacity: .9;
    transition: all 0.1s ease;
}

.btn-white {
    background-color: white;
    color: #8BC34A;
}

.btn-transparent {
  background-color: transparent;
  color: inherit;
}

.shadow {box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.navbar {
    top: 0;
    width: 100%;
    /* top and width is good for fixed nav!!! */
    position: relative;
    /* If it is fixed, check the main elemnt! */
    z-index: 100;
}

nav li:hover:not(.active) {background-color: whitesmoke;}

.active a, .current-menu-item a {
    font-weight: 700;
    color: inherit;
}


nav ul li {
  list-style: none;
}

.nav-links {
margin-left: -15px;
margin-right: -15px;
/* NOTE: balancing the paddings */
}

.nav-links li a {
display: block; /* NOTE: need for padding properly */
padding: .75rem 1rem;
}

.toggle-button {
    padding: .75rem 0;
    line-height: inherit; /*prevent jumpy navbar line height*/
    background: transparent;
    border: none;
}

.toggle-target {
  display: none;
}

.toggled {
  display: block;
}

@media screen and (min-width: 768px) {
  .nav-links li {
  display: inline-block;
  }
  .toggle-button {
    display: none;
  }
  .toggle-target {
    display: block;
  }
}

/*                                     BREADCRUMB NAVIGATION
--------------------------------------------------------------------------*/
.breadcrumb {margin: auto 0;}

.breadcrumb li {display: inline;}

.breadcrumb li+li:before {
    padding: 4px;
    color: inherit;
    content: "/\00a0";
}
/*                                     HEADER
--------------------------------------------------------------------------*/
.banner {
  width: 100%;
  background-image: url('../img/charles-etoroma-365166.jpg');
  /*background-image: url('https://source.unsplash.com/random');*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: table;
}

.banner-inner {
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner-small {padding: 2em 0;}

.text-white * {color: white;}

/*                                    SECTIONS
--------------------------------------------------------------------------*/

/*                                   FOOTER
--------------------------------------------------------------------------*/
#scrolltop {
    display: block;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 6px;
    margin: 6px 0;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: transparent;
}

/* GRIDS
--------------------------------------------------------------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.mw-768 {max-width: 768px;} /* example usage: centered blog article wrapper */

.mw-1280 {max-width: 1280px;} /* example usage: boxed layout wrapper */

.flex {
    display: -webkit-box;
    display: flex;
}

.row {
    display: -webkit-box;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-flow: row wrap;
}

[class*="col"] {padding: 0 15px; width: 100%;}

.col {-webkit-box-flex: 1; flex: 1; max-width: 100%;} /* you can pair with itself (same auto width columns), with fixed width columns, and with basic columns */

.col-auto {width: auto; /* great for buttons, you can pair with: col+col-auto */}

.col-12 {
	max-width: 100%;
}

.col-11 {max-width: 91.66666666%;}

.col-10 {max-width: 83.33333333%;}

.col-9 {max-width: 75%;}

.col-8 {max-width: 66.66666666%;}

.col-7 {max-width: 58.33333333%;}

.col-6 {max-width: 50%;}

.col-5 {max-width: 41.66666666%;}

.col-4 {max-width: 33.33333333%;}

.col-3 {max-width: 25%;}

.col-2 {max-width: 16.66666666%;}

.col-1 {max-width: 8.33333333%;}
/*Define the small cols before the md and lg cols, beacuse if not, the smallers overwrite the biggers*/
@media screen and (min-width: 540px) {
  .col-sm-12 {max-width: 100%;}

  .col-sm-11 {max-width: 91.66666666%;}

  .col-sm-10 {max-width: 83.33333333%;}

  .col-sm-9 {max-width: 75%;}

  .col-sm-8 {max-width: 66.66666666%;}

  .col-sm-7 {max-width: 58.33333333%;}

  .col-sm-6 {max-width: 50%;}

  .col-sm-5 {max-width: 41.66666666%;}

  .col-sm-4 {max-width: 33.33333333%;}

  .col-sm-3 {max-width: 25%;}

  .col-sm-2 {max-width: 16.66666666%;}

  .col-sm-1 {max-width: 8.33333333%;}

  .col-sm-auto {width: auto;}

  .col-sm {-webkit-box-flex: 1; flex: 1; max-width: 100%;}

  .sm-order-first {-webkit-box-ordinal-group: 2; order: 1;}

  .sm-order-last {-webkit-box-ordinal-group: 3; order: 2;}
}

@media screen and (min-width: 768px) {
  .col-md-12 {max-width: 100%;}

  .col-md-11 {max-width: 91.66666666%;}

  .col-md-10 {max-width: 83.33333333%;}

  .col-md-9 {max-width: 75%;}

  .col-md-8 {max-width: 66.66666666%;}

  .col-md-7 {max-width: 58.33333333%;}

  .col-md-6 {max-width: 50%;}

  .col-md-5 {max-width: 41.66666666%;}

  .col-md-4 {max-width: 33.33333333%;}

  .col-md-3 {max-width: 25%;}

  .col-md-2 {max-width: 16.66666666%;}

  .col-md-1 {max-width: 8.33333333%;}

  .col-md-auto {width: auto;}

  .col-md {-webkit-box-flex: 1; flex: 1; max-width: 100%}

  .md-order-first {-webkit-box-ordinal-group: 2; order: 1;}

  .md-order-last {-webkit-box-ordinal-group: 3; order: 2;}
}

/*------------ Flexible Grid------------*/
.col-1-3 {
    width: 33.33333333%;
    /* Just an example, but the most ideal width for screens is 1/3 - 1/4.
    The 1/2 seems large, the 1/5 looks small. Example math: This 1/3 is good for 3x2, 3x4, 3x6 etc.. grids.*/
    padding: 15px;
}
.col-1-4 {
    width: 25%;
    /* If you create 1/4 width /25%/ that will be good for 4x2, 4x3, 4x4, 4x5 etc... grids*/
    padding: 15px;
}


@media screen and (max-width: 992px) {
    [class*="col-1-"] {width: 50%;}
}

@media screen and (max-width: 560px) {
    [class*="col-1-"] {width: 100%;}
}

/*------------ Cards ------------*/

.card {border-radius: 4px;}

.card-content {padding: 1rem;}

/*
.block-img: ideal for a simple image gallery
.block: Ideal for creating multiple blocks ex.:products grid. It works nice only with equal height contents. */


/* all setup for 3 columns in a row , ideal for breaking 6/9/12/etc... columns, you can play with 25% width if you want 4 columns for 8/12/16/etc... */

/*                                         ICONS  https://icomoon.io/app/
--------------------------------------------------------------------------------------------*/
/* Default icon formatting */
.icon {
    display: inline-block;
    font-style: normal;
    position: relative;
}

.arrow-right {
    top: 0;
    width: 8px;
    height: 8px;
    border-right: 2px solid #111111;
    border-top: 2px solid #111111;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow-down {
    top: 0;
    width: 8px;
    height: 8px;
    border-left: 2px solid #111111;
    border-bottom: 2px solid #111111;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

.arrow-left {
    top: 0;
    width: 8px;
    height: 8px;
    border-left: 2px solid #111111;
    border-bottom: 2px solid #111111;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow-up {
    top: 0;
    width: 8px;
    height: 8px;
    border-right: 2px solid #111111;
    border-top: 2px solid #111111;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

/* looks different in tutorials without box-sizing:border box */
.hamburger {
    border-bottom: 7px double #555;
    border-top: 2px solid #555;
    content: "";
    height: 12px;
    width: 20px;
}

/*                                         COLORS
--------------------------------------------------------------------------------------------*/
.bg-smoke {
    background-color: whitesmoke;
}
/*                                         INPUTS
https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms
--------------------------------------------------------------------------------------------*/

/* hand cursor on clickable elements */
select,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
    margin: 0;
    font: inherit;
}

input,
select {vertical-align: middle;}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
select,
textarea {
    width: 100%;
    padding: .5rem 1rem;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    display: block;
}

.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 38px;
}
.search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px;
}

input[type="radio"] {vertical-align: text-bottom;}

textarea {
    min-height: 80px;
    resize: vertical;
}

.required:after {
    color: #FF5E40;
    content: ' *';
}
/*--------------------------------------------------------------
# MISC
--------------------------------------------------------------*/
/* ALIGNMENTS */
.text-right {text-align: right;}

.text-center {text-align: center;}

.float-right {float: right;}

.float-left {float: left;}

.align-items-center {
  -ms-flex-align: center!important;
    align-items: center!important;
}

.inline {
  display: inline-block;
}

/* FLEXIBLE VIEWPORT HEIGHT EXAMPLES */
.vh-100 {height: 100vh;} /* example usage: fullscreen landing-page headers */

.vh-40 {height: 40vh;} /* example usage: main-page headers */

.vh-20 {height: 20vh;} /* example usage: sub-page headers */

/* MARGINS, PADDINGS */
.m-0 {margin: 0;}

.mt-0 {margin-top: 0;}

.mt-1 {margin-top: 1rem;}

.mt-2 {margin-top: 2rem;}

.mt-3 {margin-top: 3rem;}

.mb-0 {margin-bottom: 0;}

.mb-1 {margin-bottom: 1rem;}

.mb-2 {margin-bottom: 2rem;}

.mb-3 {margin-bottom: 3rem;}

.p-0 {padding: 0;}

.pt-1 {padding-top: 1rem;}

.pt-2 {padding-top: 1rem;}

.pb-1 {padding-bottom: 1rem;}

.pb-2 {padding-bottom: 2rem;}

/* AVATAR IMAGES */
.round {border-radius: 100rem; /*better than 50%, it is reusable for rounded images and buttons*/}

.size-50x50 {
  width: 50px !important;
  height: 50px !important;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {outline: 0;}
