### initialize all revrites ###

RewriteEngine On

### redirect an error 404 to home page ###

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^ /index.shtml [L]

### Force https and redirect www to non www ###

#RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} ^www\.example\.com [NC]
#RewriteRule ^(.*)$ https://example.com/$1 [L,R=301]

### These two lines redirect the root to index.shtml ###

#RewriteRule ^$ /index.shtml [R=301,L]
#RewriteRule ^/$ /index.shtml [R=301,L]

### Allow .shtml and server side includes on Apache ###
#Options +Includes
#AddType text/html .shtml
#AddOutputFilter INCLUDES .shtml
