:root {
  --r-light: #F0F3F5;
  --r-lightgray: #CCCCCC;
  --r-text: #2B2B2B;
  --r-heading: #000000;
  --r-red: #F25F5C;
  --r-green: #6FA136;
  --r-blue: #247BA0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: middle; /*your images will be pixel-perfect relation to other elements, but cannot position img-tag icons with buttons for example...*/
  height: auto;
}

body {
  color: var(--r-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
}

/* use only one h1, but you can use more h2-h5 on one page (SEO in mind) */
/* use .h1-.h5 classes  if only the font size matters (Accessibility in mind) */
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: 700;
  color: var(--r-heading);
  margin-bottom: 0.5rem;
}

h1, .h1 {
  font-size: 2rem;
}
@media (max-width: 759.9px) {
  h1, .h1 {
    font-size: 1.5rem;
  }
}

h2, .h2 {
  font-size: 1.5rem;
}
@media (max-width: 759.9px) {
  h2, .h2 {
    font-size: 1.25rem;
  }
}

h3, .h3 {
  font-size: 1.25rem;
}
@media (max-width: 759.9px) {
  h3, .h3 {
    font-size: 1.125rem;
  }
}

h4, .h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--r-blue);
}

a:hover {
  text-decoration: underline;
}

nav ul li a:hover {
  text-decoration: none;
}

a {
  cursor: pointer;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

/*                                         BUTTONS
--------------------------------------------------------------------------------------------*/
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: white;
  background-color: var(--r-green);
  border: 0.1rem solid var(--r-green);
  border-radius: 0.375rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.button:hover {
  opacity: 0.9;
  text-decoration: none;
}

select,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
}

input,
select {
  vertical-align: middle;
}

[type=text],
[type=password],
[type=date],
[type=datetime],
[type=datetime-local],
[type=month],
[type=week],
[type=email],
[type=number],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=color],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--r-lightgray);
  border-radius: 4px;
}

input:focus {
  outline: 1px solid var(--r-blue);
  border-color: transparent;
}

.search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 38px;
}

.search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type=radio] {
  vertical-align: text-bottom;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.required:after {
  color: var(--r-red);
  content: " *";
}

.error {
  color: var(--r-red);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ADADAD;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ADADAD;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ADADAD;
}

/*                                         TABLES
---------------------------------------------------------------------------------*/
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

/* keep footer at the bottom */
.body-grid {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; /*  nav main footer */
}

/* http://nicolasgallagher.com/micro-clearfix-hack */
/* You need them after using floating elements, for example floating images in blog posts */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after {
  clear: both;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.display-block {
  display: block !important;
}

.display-flex {
  display: flex !important;
}

.display-grid {
  display: grid !important;
}

.display-none {
  display: none !important;
}

.rotate-90deg {
  transform: rotate(90deg) !important;
}

.rotate-180deg {
  transform: rotate(180deg) !important;
}

/*# sourceMappingURL=styles.css.map */
