select,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid $lightgray;
  border-radius: $border-radius;
}

input:focus {
  outline: 1px solid $blue;
  border-color: transparent;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.checkbox label {
  margin-bottom: 0;
}

.checkbox input[type=checkbox] {
  display: none;
}

.checkbox label {
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
  position:relative;
}

.checkbox input[type=checkbox] + label:after {
  font-family: 'Material Icons';
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  border: 1px solid $gray;
  border-radius: 2px;
}

.checkbox input[type=checkbox]:checked + label:after {
  content: "\E5CA";
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  background: $blue;
  border-color: $blue;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.required:after {
  color: $red;
  content: ' *';
}

.error {
  color: $red;
  font-size: 0.875rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray;
}
