$smoke: #F0F3F5;
$lightgray: #CCCCCC;
$gray: #7B7B7B;
$darkgray: #2B2B2B;
$black: #191919;
$red: #F25F5C;
$green: #6FA136;
$blue: #247BA0;

$border-radius: 0.25rem;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
