*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    color: var(--r-color-text);
    background-color: var(--r-color-background);
    transition: color 0.5s, background-color 0.5s;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --r-color-dark: #121212;
    --r-color-off-white: #F0F0F0;

    --r-color-text: var(--r-color-dark);
    --r-color-background: var(--r-color-off-white);
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --r-color-text: var(--r-color-off-white);
        --r-color-background: var(--r-color-dark);
    }
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

img {
    width: 100%;
    height: auto;
}
