*, *::before, *::after {
    box-sizing: border-box;
}

/*
 #1 System based theme selection
 */

:root {
    --color-neutral-950: oklch(14.5% 0 0);
    --color-neutral-700: oklch(37.1% 0 0);
    --color-neutral-400: oklch(87% 0 0);
    --color-white: #fff;

    color-scheme: light dark;
    --heading-color: light-dark(var(--color-neutral-950), var(--color-white));
    --text-color: light-dark(var(--color-neutral-700), var(--color-neutral-400));
    --background-color: light-dark(var(--color-neutral-100), var(--color-neutral-700));
}

/*
 #2 Manual theme selection if the theme is previously saved by the user
 */

:root[data-theme="light"] {
    color-scheme: light;
    --heading-color: var(--color-neutral-950);
    --text-color: var(--color-neutral-700);
    --background-color: var(--color-white);
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --heading-color: var(--color-white);
    --text-color: var(--color-neutral-400);
    --background-color: var(--color-neutral-700);
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: color 0.4s, background-color 0.4s;
    margin: 0;
    min-height: 100vh;
}

img {
    width: 100%;
    height: auto;
}
