.button {
    cursor: pointer;
    border: 1px solid var(--r-color-black);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    background-color: var(--r-color-black);
    color: var(--r-color-white);
    font-size: 1rem;
    line-height: 1;
}
