.card {
    width: 100%;
    max-width: 320px;
    overflow: hidden;
    border: var(--border);
    border-radius: var(--border-radius-lg);

    & figure {
        line-height: 0;
        height: 160px;

        & img {
            height: 100%;
            object-fit: cover;
        }
    }

    & hgroup {
        padding: 1rem;
        min-width: 0;
        display: grid;
        gap: 0.5rem;
    }

    & footer {
        padding: 0 1rem 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        h3, h4 {
            margin: 0;
        }
    }

    & h3 {
        white-space: nowrap; /* Keep text on one line */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add ellipsis (...) */
        margin: 0; /* Remove default margin for layout */
    }

    & p {
        display: -webkit-box; /* Fallback for old webkit browsers */
        -webkit-line-clamp: 2; /* Show max 2 lines */
        -webkit-box-orient: vertical; /* Vertical layout for the box */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Add ellipsis (...) */
        margin: 0; /* Remove default margin for layout */
        font-size: var(--font-size-sm);
    }
}

.card-vertical {
    max-width: 480px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas:
    "figure hgroup"
    "figure footer";

    figure {
        grid-area: figure;
    }

    hgroup {
        grid-area: hgroup;
        gap: 0.25rem;
        padding: 0.75rem;
    }

    footer {
        grid-area: footer;
        padding: 0 0.75rem 0.75rem 0.75rem;
        align-self: flex-end;
    }

}