.card {
    max-width: 320px;
    overflow: hidden;
    border: var(--border);
    border-radius: var(--border-radius-lg);

    & hgroup {
        padding: 1rem;
    }

    & footer {
        padding: 1rem;
    }
}