.card {
    max-width: 320px;
    overflow: hidden;
    border: var(--border);
    border-radius: var(--border-radius-lg);

    & figure {
        line-height: 0;

        & img {
            height: 160px;
            object-fit: cover;
        }
    }

    & hgroup {
        padding: 1rem;
    }

    & footer {
        padding: 1rem;
    }
}