form {
    display: grid;
    gap: 1.5rem;

    section {
        display: grid;
        align-items: start;
        gap: 0.25rem;
    }
}

label {
    font-weight: var(--font-weight-bold);
}

input, select, textarea {
    padding: 0.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm);

    &:focus {
        outline: none;
        border-color: #4a90e2;
        box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
    }
}

input[type="date"] {
    padding: calc(0.5rem - 1px) 0.5rem;
}

fieldset {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;

    input[type="radio"],
    input[type="checkbox"] {
        margin: 0;
    }

    label {
        margin-right: 1.5rem;
    }
}

legend {
    font-weight: 600;
    padding: 0 0.5rem;
}

.checkbox,
.radio {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    align-content: center;

    label {
        font-weight: var(--font-weight-normal);
    }
}

select {
    appearance: none;
}

select, ::picker(select) {
    appearance: base-select;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    font-size: var(--font-size-sm);
    background: white;

    &:focus {
        outline: none;
        border-color: #4a90e2;
        box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
    }
}