.body-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100%;
    min-height: 100vh;
}

.r-container {
    padding-inline: 15px;
    margin-inline: auto;
    max-width: 1280px;
}