h1, h2, h3, h4, h5, h6 {
    padding: 0;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.5rem;
    color: var(--r-color-heading);
}

h1,
h2 {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}