:root {
    --r-color-green: #8BC34A;
    --r-color-dark: #222222;
    --r-color-darkgray: #454545;
    --r-color-gray: #9c9c9c;
    --r-color-lightgray: #d8d8d8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --r-color-background: var(--r-color-dark);
        --r-color-heading: var(--r-color-lightgray);
        --r-color-text: var(--r-color-lightgray);
    }
}



