:root {
    --color-green: #8BC34A;
    --color-gray: #454545;


    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;

    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --border-radius: 0.25rem;
}