:root {
    --r-color-green: #8BC34A;
    --r-color-dark: #222222;
    --r-color-darkgray: #454545;
    --r-color-gray: #9c9c9c;
    --r-color-lightgray: #d8d8d8;


    --r-font-size-xs: 0.75rem;
    --r-font-size-sm: 0.875rem;
    --r-font-size-md: 1.25rem;

    --r-font-weight-normal: 400;
    --r-font-weight-medium: 500;


    --r-border: 1px solid var(--r-color-lightgray);
    --r-border-radius: 0.25rem;
    --r-border-radius-md: 0.375rem;
    --r-border-radius-lg: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--r-color-dark);
        --color-heading: var(--r-color-lightgray);
        --color-text: var(--r-color-lightgray);
    }
}



