---

---
<div class="todo">
    <div class="todo__add">
        <input type="text" id="new-todo" name="new-todo" placeholder="Add new todo" required>
        <button>Add</button>
    </div>
    <div class="todo__list">
        <div class="checkbox todo__list__item">
            <input type="checkbox" id="sports" name="interests" value="sports">
            <label for="sports">Sports</label>
            <span class="material-icons">edit</span>
            <span class="material-icons">delete</span>
        </div>
        <div class="checkbox todo__list__item">
            <input type="checkbox" id="ggs" name="interests" value="ggs">
            <label for="ggs">ggs</label>
            <span class="material-icons">close</span>
        </div>
    </div>
</div>

<style>
    .todo {
        max-width: 320px;
    }

    .todo__add {
        display: grid;
        grid-template-columns: 1fr auto;
        margin-bottom: 1rem;

        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .todo__list {
        display: grid;
        gap: 0.25rem;
    }

    .todo__list__item {
        align-items: center;

        label {
            flex-grow: 1;
        }

        .material-icons {
            font-size: 1rem;
            cursor: pointer;
            padding: 0.25rem;
        }

        input:checked + label {
            text-decoration: line-through;
            opacity: 0.33;
        }

    }
</style>