---
import Layout from "../layouts/Layout.astro";
// Buttons page showcasing different button styles
---

<Layout>
    <h1>Buttons</h1>
    <button>Button</button>
    <button class="button-outline">Outlined</button>
    <button disabled>Disabled</button>
</Layout>


