---
import Layout from '../layouts/Layout.astro';
import hill from '../assets/images/hill.png';
---
<Layout>
    <h1>Cards</h1>
    <article>
        <h2>Default cards</h2>
        <div class="card">
            <figure>
                <img src={hill.src} alt="nature image">
            </figure>
            <section>
                <hgroup>
                    <h3>Sunt aut facere repellat provident occaecati excepturi optio reprehenderit</h3>
                    <p>Quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet
                        architecto</p>
                </hgroup>
                <footer>
                    <button>Button</button>
                </footer>
            </section>

        </div>
    </article>

    <h2>Product cards</h2>
</Layout>

<style>
    article {
        margin-bottom: 3rem;
    }
</style>