---
import Layout from '../layouts/Layout.astro';
import hill from '../assets/images/hill.png';
import turntable from '../assets/images/turntable.png';
---
<Layout>
    <h1>Cards</h1>
    <article>
        <h2>Default card</h2>
        <div class="r-card">
            <figure>
                <img src={hill.src} alt="nature image">
            </figure>
            <header>
                <h3>Sunt aut facere repellat provident occaecati excepturi optio reprehenderit</h3>
                <p>Quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet
                    architecto</p>
            </header>
            <footer>
                <button>Read more</button>
            </footer>
        </div>
    </article>

    <h2>Vertical card</h2>
    <div class="r-card r-card-vertical">
        <figure>
            <img src={turntable.src} alt="nature image">
        </figure>
        <header>
            <h3>Turntable</h3>
            <p>High-end belt drive turntable for music enthusiasts.</p>
        </header>
        <footer>
            <h4>$199</h4>
            <button><span class="material-icons">shopping_cart</span>Add to cart</button>
        </footer>
    </div>
</Layout>

<style>
    article {
        margin-bottom: 3rem;
    }
</style>