---
import Layout from '../layouts/Layout.astro';
import astroLogo from '../assets/astro.svg';
import raptorLogo from '../assets/raptor.svg';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
    <h1>Home</h1>
</Layout>

<style>

</style>
