---
import logo from '../assets/raptor.svg';
// Sidebar component for navigation
---

<div class="sidebar">
    <nav id="sidebar__menu" class="sidebar__menu">
        <ul>
            <li><h3>Components</h3></li>
            <li><a href="/buttons" class="nav-link">Buttons</a></li>
            <li><a href="/forms" class="nav-link">Forms</a></li>
            <li><a href="/cards" class="nav-link">Cards</a></li>
        </ul>
        <ul>
            <li><h3>Apps</h3></li>
            <li><a href="/todo" class="nav-link">ToDo</a></li>
            <li><a href="/temperature-converter" class="nav-link">Temperature converter</a></li>
        </ul>
    </nav>
</div>

<style>
    .sidebar {
        display: flex;
        align-items: flex-start;
        border-right: var(--r-border);
    }

    .sidebar__menu {
        display: grid;
        padding: 1rem;
        transition: all 0.1s ease-in-out;

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 1rem 0;
            line-height: 1.25;
            display: grid;
            gap: 0.5rem;
        }

        ul li a {
            text-decoration: none;
            display: block;
        }
    }

</style>

<script>

</script>