---
import logo from '../assets/raptor.svg';
// Sidebar component for navigation
---

<div class="navbar">
    <a href="/"><img src={logo.src} alt="logo" class="logo"></a>
    <nav>
        <ul>
            <li><h3>Components</h3></li>
            <li><a href="/buttons" class="nav-link">Buttons</a></li>
            <li><a href="/forms" class="nav-link">Forms</a></li>
            <li><a href="/cards" class="nav-link">Cards</a></li>
        </ul>
        <ul>
            <li><h3>Apps</h3></li>
            <li><a href="/buttons" class="nav-link">ToDo</a></li>
            <li><a href="/forms" class="nav-link">Temperature converter</a></li>
            <li><a href="/cards" class="nav-link">Faszom tudja</a></li>
        </ul>


    </nav>
</div>

<style>
    .navbar {
        padding: 1.5rem;
        background: var(--color-gray);
        color: white;

        nav {
            display: grid;

            h3 {
                margin: 1rem 0;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            ul li a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .logo {
        width: 3rem;
    }
</style>
