---
const {prop} = Astro.props;
---
<div>
    <label for="theme-switch"></label>
    <select name="themes" id="theme-switch" class="theme-options">
        <option value="system">🖥 System</option>
        <option value="dark">🌙 Dark</option>
        <option value="light">☀️ Light</option>
    </select>
</div>

<style>
    .theme-options {
        padding: 0.25rem;
        appearance: none;
        background: transparent;
        border-radius: 0.25rem;
        text-align: center;
    }
</style>

<script is:inline>

    // check if a theme is saved in the localStorage and set its value as selected
    function setCurrentTheme() {
        const themeSwitch = document.querySelector('#theme-switch');
        const savedTheme = localStorage.getItem('theme');

        if (savedTheme) {
            themeSwitch.value = savedTheme;
        } else {
            themeSwitch.value = 'system';
        }
    }

    setCurrentTheme();
    document.addEventListener('astro:after-swap', setCurrentTheme);

    // onchange set the localstorage
    function handleSwitch() {
        const themeSwitch = document.querySelector('#theme-switch');

        themeSwitch?.addEventListener('change', (e) => {
            const newValue = e.target.value;
            localStorage.setItem('theme', newValue);
            themeSwitch.value = newValue;
            if (newValue && newValue !== 'system') {
                document.documentElement.dataset.theme = newValue;
            } else {
                document.documentElement.removeAttribute('data-theme');
            }
        });
    }

    handleSwitch();
    document.addEventListener('astro:after-swap', handleSwitch);
</script>

