.display-block {
    display: block !important;
}

.display-flex {
    display: flex !important;
}

.display-grid {
    display: grid !important;
}

.display-none {
    display: none !important;
}

.rotate-90deg {
    transform: rotate(90deg) !important;
}

.rotate-180deg {
    transform: rotate(180deg) !important;
}
